/*
Colors Used:
    primary color (orange): #D9601A;
    primary dark (dark orange): #A6370F;
    secondary color (blue): #29A699;
    secondary dark (dark blue): #0D403B;
    accent color (light peach): #F2AB91;
    neutral dark (blackish): #003B4A;
    neutral light (whiteish peach): #FFFBFD;
    neutral light (whitish blue): #D6E9EE;

Fonts Used:
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
*/

/* general */
body {
    background-color: #FFFBFD;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #003B4A;
}

img {
    width: 100%;
}

/* typography */
h1 {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}

h1 {
    font-size: 2.986em;
    font-weight: 800;
}

h2 {
    font-size: 2.488em;
    font-weight: 800;
}

h3 {
    font-size: 2.074em;
    font-weight: 600;
}

h4 {
    font-size: 1.728em;
    font-weight: 600;
}

h5 {
    font-size: 1.44em;
    font-weight: 400;
}

h6 {
    font-size: 1.2em;
    font-weight: 400;
}

/* links and buttons */
a {
    color: #A6370F;
    text-decoration: none;
    /* No underlining */
}

a:visited {
    /* visited link */
    color: #A6370F;
    opacity: 0.5;
}

a:hover,
a:focus,
a:active {
    color: #D9601A;
    text-decoration: underline;
    /* Underlining when hovering over a link */
}

a.button {
    display: inline-block;
    background-color: #D9601A;
    color: #FFFBFD;
    /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30;
    /* width of the border, type, color */
    transition: 0.2s opacity;
}

a.button:hover,
a.button:focus,
a.button:active {
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

a.button.contact {
    background-color: transparent;
    color: #D9601A;
    text-transform: uppercase;
    border: 2px solid #D9601A;
}

a.button.contact:hover {
    background-color: #D9601A;
    color: #FFFBFD;
}
a.button.contact:focus {
    background-color: #D9601A;
    color: #FFFBFD;
}
a.button.contact:active {
    background-color: #D9601A;
    color: #FFFBFD;
}